header {
	font-size: 30px;
	color: blueviolet;
	margin: 20px 0px 20px 10px;
	text-shadow: hoff voff blur rgba(0, 0, 0, 0.667);
	text-transform: uppercase;
	display: flex;
	text-align: center;
	justify-content: center;
}

body {
	font-size: 30px;
	background-color: #eee;
}

body div {
	font-size: 10px;
}

.title {
	font-size: 40px;
	color: aqua;
	padding: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.title:hover {
	color: greenyellow;
	background-color: rgba(255, 255, 255, 0.402);

}

.title:focus {
	color: blue;
}

h1 {
	background-color: #009dff;
}

li {
	color: #ff7fa8;
	margin: 10px 0px 0px 0px;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.486);

}

li:hover {
	color: cornflowerblue;
	border: solid 10px rgba(255, 255, 255, 0.142);
}