header {
	font-size: 40px;
	color: blueviolet;
	margin: 0 auto;
	text-shadow: hoff voff blur rgba(0, 0, 0, 0.667);
	text-transform: uppercase;
	display: flex;
	text-align: center;
	justify-content: center;
}